.css-ogzygh-MuiButtonBase-root-MuiButton-root {
  background-color: #c8a97e !important;
}

.bgColor {
  background-color: #c8a97e !important;
  border-radius: 0px !important;
  box-shadow: none !important;
}

.textColor {
  color: #c8a97e !important;
  border-color: #c8a97e !important;
}
